<mat-toolbar color="primary">
  <div>
    <button mat-button [routerLink]="'/'">
      Home
    </button>
    <button mat-button *ngIf="isAuth" [routerLink]="'/create'">
      Add a Post
    </button>
  </div>
  <div>
    <button mat-button *ngIf="!isAuth" [routerLink]="'/login'">
      Log In
    </button>
    <button mat-button *ngIf="!isAuth" [routerLink]="'/signup'">
      Sign Up
    </button>
    <button mat-button *ngIf="isAuth" (click)="onLogOut()">
      Log Out
    </button>
  </div>
</mat-toolbar>
