<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <form #signupform="ngForm" (submit)="onSignUp(signupform)">
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          type="email"
          placeholder="Email"
          name="email"
          email
          required
          [(ngModel)]="emailInput"
          #email="ngModel"
        />
      </mat-form-field>
      <mat-error *ngIf="email.invalid && !email.pristine"
        >Please enter a valid email!</mat-error
      >
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="passwordInput"
          #password="ngModel"
          required
        />
      </mat-form-field>
      <mat-error *ngIf="password.invalid && !password.pristine"
        >Please enter valid password!</mat-error
      >
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" type="submit">
        Sign Up
      </button>
    </mat-card-actions>
  </form>
</mat-card>
