<mat-card>
  <form #myForm="ngForm" (ngSubmit)="onSavePost(myForm)">
    <mat-card-title
      >{{ mode === "edit" ? "Edit a" : "Enter a new" }} post</mat-card-title
    >
    <mat-card-content>
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Title"
          name="title"
          [ngModel]="post?.title"
          #title="ngModel"
          minlength="5"
          required
        />
      </mat-form-field>
      <mat-error *ngIf="title.invalid && title.dirty && title.touched"
        >Please enter a valid title!</mat-error
      >
      <mat-form-field>
        <textarea
          matInput
          placeholder="Content"
          id="content"
          cols="30"
          rows="10"
          name="content"
          [ngModel]="post?.content"
          #content="ngModel"
          minlength="5"
          required
        ></textarea>
      </mat-form-field>
      <mat-error *ngIf="content.invalid && content.dirty && content.touched"
        >Please enter valid content!</mat-error
      >
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" type="submit">
        Save Post
      </button>
    </mat-card-actions>
  </form>
</mat-card>
