<mat-card>
  <mat-card-title>Enter a post</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="text" placeholder="Title" [(ngModel)]="title" />
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Content"
        name="comments"
        id="comments"
        cols="30"
        rows="10"
        [(ngModel)]="content"
      ></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onAddPost()">
      Save Post
    </button>
  </mat-card-actions>
</mat-card>
