<h1>My Posts</h1>
<mat-spinner *ngIf="postsService.isLoading"></mat-spinner>
<mat-accordion *ngIf="posts.length > 0 && !postsService.isLoading">
  <mat-expansion-panel
    *ngFor="let post of posts; let i = index"
    (opened)="togglePanelOpened(); setIndex(i)"
    (closed)="togglePanelOpened()"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ post.title }}
      </mat-panel-title>
      <mat-panel-description *ngIf="!panelOpened || currentIndex !== i">
        {{ post.content.substr(0, 10) + " ..." }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="img-container">
      <img [src]="post.imagePath" [alt]="post.title" />
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row *ngIf="isAuth && userId === post.creator">
      <button mat-button color="primary" [routerLink]="['/edit', post.id]">
        Edit
      </button>
      <button mat-button color="warn" (click)="onDeletePost(post.id)">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  *ngIf="posts.length > 0"
  [length]="totalPosts"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onPageEvent($event)"
>
</mat-paginator>
<p class="info-text" *ngIf="posts.length <= 0 && !postsService.isLoading">
  There are no posts.
</p>
