<mat-accordion *ngIf="posts.length > 0">
  <mat-expansion-panel
    *ngFor="let post of posts; let i = index"
    (opened)="togglePanelOpened(); setIndex(i)"
    (closed)="togglePanelOpened()"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ post.title }}
      </mat-panel-title>
      <mat-panel-description *ngIf="!panelOpened || currentIndex !== i">
        {{ post.content.substr(0, 10) + " ..." }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text" *ngIf="posts.length <= 0">There are no posts.</p>
