:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: 0 auto;
}

.img-container {
  width: 100%;
}

.img-container > img {
  width: 100%;
  border: 1px solid black;
}
